@import "tailwindcss";

:root {
  background-color: #0f172a;
  /* Slate 900 */
  color: #f8fafc;
  /* Slate 50 */
}

/* Custom scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}